<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello KDT</h1>
    <h3>나이는 <%= age %></h3>

    <script>
        // ejs파일에는 주석처리 하면 오류남.
        // script태그를 만들어 그 안에 넣어야 함.
    </script>
</body>
</html>