div{
    width: 400px;
    height: 400px;
    /* 색상 16진수 방식 */
    border: 1px solid #000000;
    /* 파일 위치 찾기 - 상위폴더(점 두개)*/
    background: url('../images/watermelon.jpg') no-repeat;
}

/* 원본이 사각형 크기로 잘려서 보임 */
#bg1{
    background-size: auto;
}
/* 크기가 축소되어 보임 */
#bg2{
    background-size: 300px;
}
/* 가변크기 */
#bg3{
    /* 400px * 80% = 320px */
    background-size: 80%;
    background-position: bottom left;
}
#bg4{
    /* 이미지가 비율대로 축소되어 보임 */
    background-size: contain;
}
#bg5{
    /* 이미지를 박스크기만큼 꽉 채우고 나머지는 잘림 */
    background-size: cover;
}