<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>사용자 목록</h3>
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <li>
                <span>이름 : <%= users[i].name %></span>
                <span>전공 : <%= users[i].major %></span>
                <span>성별 : <%= users[i].gender %></span>
            </li>
        <% } %>
    </ul>

    <br />
    <div>
        <form>
            <input type="text" id= 'name' placeholder="이름"><br />
            <input type="text" id = 'major' placeholder="전공"><br />
            <input type="text" id = 'gender' placeholder="성별"><br />
            <button type="button" onclick="registerFunc()">입력</button>
        </form>
    </div>

    <script>
        function registerFunc() {
            const data = {
                name : document.querySelector('#name').value,
                major : document.querySelector('#major').value,  
                gender : document.querySelector('#gender').value,
            };

            axios ({
                method : 'POST',
                url : '/user/register',
                data,
            }).then((res) => {
                console.log('res:', res);
                    if (res.data.result) {
                        document.location.reload();
                    }
            });
        }
    </script>
</body>
</html>