ul li{
    list-style: none;
    margin: 20px;
}

#container{
    width: 1000px;
    margin: 0 auto;    
}

form{
    width: 500px;
    margin: 0 auto;
}

fieldset{
    border: 1px solid #ccc;
    margin: 20px auto;
}

