@charset "UTF-8";
/* 공통 스타일 */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
ul li{
    list-style: none;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
header{
    /* width: 1000px; */
    height: 80px;
    background-color: rgb(8, 8, 79);
}
header #logo{
    width: 250px;
    /* height: 80px; */
    float: left;
    line-height: 80px;
    padding-left: 30px;
}
header #logo h1 a{
    color: skyblue;
}
header #logo h1 a:hover{
    color: #f1f1f1;
}
header nav{
    width: 700px;
    /* height: 80px; */
    float: right;
    line-height: 80px;
}
header nav ul{
    padding-left: 100px;
}
header nav ul li{
    float: left;
}
header nav ul li:hover{
    background-color: aqua;
}
header nav ul li a{
    display: block;
    padding: 0 30px;    
}


/* 속성 선택자(태그[속성=속성값]) */
#contents form input[type='text'], input[type='password']{
    width:200px;
    height: 25px;
    padding: 0 5px;
}
#contents form input[type='submit'], input[type='reset']{
    padding: 5px 8px;
}
header nav ul li a{
    display: block;
    padding: 0 30px;
}


