<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <form name="register-form">
        <label for="username">이름</label>
        <input type="text" id="username" required /><br />
        <label for="email">이메일</label>
        <input type="email" id="email" required /><br />
        <button type="button" onclick="ajaxGet()">ajax get 제출</button><br />
        <button type="button" onclick="ajaxPost()">ajax post 제출</button><br />
        <button type="button" onclick="axiosGet()">axios get 제출</button><br />
        <button type="button" onclick="axiosPost()">axios post 제출</button><br />
        <button type="button" onclick="fetchGet()">fetch get 제출</button><br />
        <button type="button" onclick="fetchPost()">fetch post 제출</button><br />
    </form>
    <div class="result"></div>




    <script>
        const resultBox = document.querySelector(".result");

        //ajax get방식
        function ajaxGet() {
            //폼 가져오기
            const form = document.forms['register-form'];
            //백엔드로 보내는 데이터
            const data = {
                username : form.username.value,
                email : form.email.value,
            };

            // ajax는 비동기 통신이기 때문에 콘솔로그도 됨.
            console.log(data);
            //ajax
            $.ajax({
                type: "GET",
                url : '/ajax',
                data: data,
                success : (res) => {
                    console.log('res: ', res);
                    resultBox.textContent = `${res.user} ${res.email}`;
                },
            });
        }


        //ajax post방식
        function ajaxPost() {
            //폼 가져오기
            const form = document.forms['register-form'];
            if( form.username.value === '') {
                alert('이름을 입력하세요');
                return ;
            }
            $.ajax({
                type: "POST",
                url: '/ajax',
                data: {
                    username: form.username.value,
                    email: form.email.value,
                },
                success : (res) => {
                    console.log('res: ', res);
                    resultBox.textContent = `${res.user} ${res.email}`;
                },
            });
        }

        //axios get방식
        function axiosGet() {
            const form = document.forms['register-form']
            const data = {
                username: form.username.value,
                email: form.email.value
            };
            //axios : promise함수
            axios({
                method: 'GET',
                //방법2. url로 보내는 방법
                url : `/axios?username=${form.username.value}&email=${form.email.value}`
                //방법1. params로 보내는 방법
                // url: '/axios',
                // params: data //get방식일때 params
            }).then((res) => {
                console.log('res: ', res);
                const {result, username, email} = res.data;
                if (result) {
                    resultBox.textContent = `${username}님 이메일주소는 ${email}`;
                } else {
                    resultBox.textContent = `오류가 생성되었습니다.`;
                } 
            });
        }

        //axios post 방식 .then 대신 async/await 사용 가능.
        async function axiosPost() {
            const data = {
                username: document.querySelector("#username").value,
                email: document.querySelector("#email").value,
            };

            const res = await axios({
                method: 'POST',
                url: '/axios',
                data,
            });
            console.log('res', res);
            resultBox.textContent = `${res.data.username}님 이메일주소는 ${res.data.email}입니다.`;
        }

        //fetch : promise함수
        //fetch get
        function fetchGet() {
            const username = document.querySelector("#username").value;
            const email = document.querySelector("#email").value;

            const url = `?username=${username}&email=${email}`;
            //fetch?username
            fetch(`/fetch${url}`, {
                method: 'GET',
            })
            .then((res) => {
                console.log('res', res);
                //json 응답을 네이티브 javascript객체로 파싱
                return res.json();
            })
            .then((data) => {
                console.log('data', data);
                const {result, username, email} = data;
                if(result) {
                    resultBox.textContent = `${username}님 이메일주소는 ${email}입니다.`;
                } else {
                    resultBox.textContent = `오류가 생성되었습니다.`;
                }
            });
        }
        async function fetchPost() {
            const data = {
                username: document.querySelector("#username").value,
                email: document.querySelector("#email").value
            }
            const res = await fetch('/fetch', {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    'Content-Type' : 'application/json'
                }
            });
            console.log('res', res);
            const result = await res.json();
            console.log('result', result);
            resultBox.textContent = `${result.username}님 이메일주소는 ${result.email}입니다.`;
        }

    </script>
</body>
</html>