<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>방명록</h3>
    <form name="visitor-form">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" id="name" placeholder="방문자 이름"><br />
            <input type="text" id="comment" placeholder="방명록 작성"><br />
            <button type="button" onclick="visitorFunc()">등록</button>
        </fieldset>
    </form>
    <br />
    <table border="1" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>작성자</th>
                <th>내용</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <script>
        const tbody = document.querySelector('tbody');
        (async function() {
            //전체 방명록 가져오기
            const res = await axios({
                method:"GET",
                url : '/api/visitor'
            });
            console.log(res);
            for(let i = 0; i < res.data.result.length; i++){
                const html = `
                    <tr>
                        <td>${res.data.result[i].id}</td>
                        <td>${res.data.result[i].name}</td>
                        <td>${res.data.result[i].comment}</td>
                        <td>수정</td>
                        <td>삭제</td>
                    </tr>
                `;
                tbody.insertAdjacentHTML('beforeend', html);
            }
        })();

        //방명록 등록하기
        async function visitorFunc(){
            const form = document.forms['visitor-form']
            const res = await axios({
                method: 'POST',
                url : '/api/visitor/write',
                data: {
                    name: form.name.value,
                    comment : form.comment.value,
                },
            });
            console.log(res);
            const html = `
                <tr>
                    <td>${res.data.id}</td>
                    <td>${res.data.name}</td>
                    <td>${res.data.comment}</td>
                    <td>수정</td>
                    <td>삭제</td>
                </tr>
            `;
            tbody.insertAdjacentHTML('beforeend', html);
        }
        
    </script>
</body>
</html>